/**
 *	Imports
 */
@import {wolves:bourbon}/bourbon

/**
 *	Mixins
 */
=resetPM
	padding: 0
	margin: 0

=resetButton
	+resetPM
	border: 0
	+appearance(none)
	background-color: transparent
	font-size: 0.8rem

/**
 *	General styling
 */
*
	box-sizing: border-box
	+resetPM

body 
	font-size: 0.8rem
	font-family: helvetica
	color: #222
	width: 100vw
	height: 100vh

.container
	+display(flex)
	+flex-direction(column)
	width: 100vw
	height: 100vh

.view
	+flex(2)

.edit
	+flex(1)

/**
 *	Defaults
 */
button
	+resetButton

/**
 *	Editing pane
 */

form
	padding: 1rem

.edit 
	+display(flex)
	+flex-direction(row)

.edit__form,
.preview__form
	+display(flex)
	+flex-direction(column)
	+flex(1)

.edit__form__fieldset
	&:first-child
		position: relative
		+flex(7)
	&:last-child
		padding: 0.5rem 0
		+flex(1)

.preview__form__fieldset
	position: relative
	+flex(1)

button 
	float: right
	background-color: #326de5
	color: #fff
	padding: 0.5rem 1.5rem
	border-radius: 0.25rem
	cursor: pointer
	&:hover
		background-color: lighten(#326de5, 10%)

.post__updated
	line-height: 2rem
	margin: 0 1rem

textarea
	width: 100%
	position: absolute;
	top: 0
	bottom: 0